.parentHome-pageHolder{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f0f1f3;
    gap:2px;
}

.sider-logo { 
    height: 64px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.orders-container {
    padding: 24px;
}

.ant-layout-content {
    height: 100vh;
}